extend layout

block content
  div.bubble.shadow.read read
  a.bubble.pushme.read
    p.choice read
  div.bubble.shadow.write write
  a.bubble.pushme.write
    p.choice write
  div.bubble.shadow.snack snack
  a.bubble.pushme.snack
    p.choice snack