doctype html
html
  head
    title #{title} - Snackwrite
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-1.6.2.js")
    script(src="/javascripts/jquery-ui-1.8.16.custom.js")
    script(src="/javascripts/choice.js")
  body
    header
      .logoline
        span.tagleft fictitious
        a.homelink
          img(src= '/images/pencilcake.png')
        span.tagright nibbling
      .brand snackwrite
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus