doctype html
html
  head
    title #{title} - Snackwrite
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .logoline
        span.tagline
          span.tagleft fictitious
        a.homelink
          img(src= '/images/pencilcake.png')
        span.tagline 
          span.tagright nibbling
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus